<!doctype html>
<html>
<head>
<meta charset="utf-8" />
<meta name="apple-mobile-web-app-capable" content="yes"/>
<meta name="apple-mobile-web-app-status-bar-style" content="black"/>
<meta name="format-detection" content="telephone=no"/>
<meta name="format-detection" content="email=no"/>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" />
<title>恩都法 - 专注各种专业阀门制造</title>
<link rel="icon" href="uploads/logo.png" type="image/x-icon">
{{ helper.assets.getStyle('umi.css') | safe }}
<style>
.load {
  width: 100vw;
  height: 100vh;
  font-size: 18px;
  text-align: center;
  margin-top: 100px;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
}
#root:empty + .load {
  display: block;
}

</style>
</head>
<body>

<div id="root"></div>
<div class="load">
  加载中，请稍后...
</div>

<script>
  window.routerBase = '/';
  window.resourceBaseUrl = '{{ helper.assets.resourceBase }}';
</script>
{% if ctx.app.config.env === 'local' -%}
{{ helper.assets.getScript('umi.dll.js') | safe }}
{%- endif %}
{{ helper.assets.getScript('umi.js') | safe }}
</body>
</html>